@model List<Shirt>
<h3 class="text-center">Shirts</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Brand</td>
            <td>Gender</td>
            <td>Size</td>
            <td>Color</td>
            <td>Price</td>
            <td></td>
           
            
        </tr>
    </thead>
    <tbody>
        @foreach(var shirt in Model)
        {
            <tr>
                <td>@shirt.Brand</td>
                <td>@shirt.Gender</td>
                <td>@shirt.Size</td>
                <td>@shirt.Color</td>
                <td>@(shirt.Price.HasValue?shirt.Price.Value.ToString("c"):"")</td>
                <td><a asp-action="UpdateShirt" asp-controller="Shirt" asp-route-shirtId="@shirt.ShirtId" class="btn btn-link text-dark">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="CreateShirt" class="btn btn-secondary">Create</a>